#main {
  background: rgb(255, 255, 255);
  background: rgba(255, 255, 255, 0.6);
  padding: 10px;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

h3 {
  text-align: center;
  margin-bottom: 15px;
}

@media (min-width: 768px) and (max-width: 979px) {
  #main {
    width: 50%;
    margin: 0 0 0 50%;
  }
}

@media (min-width: 980px) {
  #main {
    width: 30%;
    margin: 0 0 0 65%;
  }
}
